@charset "UTF-8";

/* Paleta de cores
Principal: #2e1266
Leve: #7d84b2
verde: #62a87c
 */

 * {
     font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     padding: 0px;
     margin: 0px;
     box-sizing: border-box;
 }

 body, html {
     background: url(../imagens/9147451.jpg) ;
     background-size: cover;
     
     


     height: 100vh;
     width: 100vw;
 }

 main {
     position: relative;
     height: 100vh;
     width: 100vw;
     
 }

 section#login {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);


     background-color: #5565cc;
     width: 250px;
     height: 500px;
     border-radius: 20px;
     opacity: 60%;
     box-shadow: 0px 0px 10px rgb(0, 0, 0);
     
     

     
 }

 section#login > div#formulario{
     padding: 10px;
     text-align: center;
     text
 }